root {
    --background-color: #ffffff;
    --h2-h3-text-color: #212121;
    --text-color: #757575;
    --two-text-color: #ffffff;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --footer-color: #2f303a;
    --footer-address-color: rgba(255, 255, 255, 0.6);
    --btn-color: #f5f4fa;
    --section-color: #f5f4fa;
    --icon-color: #afb1b8;
}

.container {
    margin: auto;
    width: 1300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item {
    font-size: 13px;
    padding-left: auto;
    color: #000000;
}

.photo-card {
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
    border: 3px;
    background-color: #f5f4fa;
    border: transparent;
    border-radius: 4px;
}

.load-more {
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    background-color: #2196f3;
    display: block;
    margin: auto;
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;
    margin-top: 40px;
    margin-bottom: 60px;
}

.submit__btn {
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;
}

.input {
    width: 300px;
    height: 38px;
    border-radius: 4px;
    border-color: #afb1b8;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
}

// Стили для аутентификации

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputEmail {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.inputPassword {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.voiti {
    width: 80px;
    height: 40px;
    background-color: #2196f3;
    margin-bottom: 15px;
    color: #ffffff;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
}

.registr {
    width: 180px;
    height: 40px;
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
}

// _________________________________________________

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}



.card__img {
    height: 450px;
    width: 100%;
}

.card__list {
    list-style: none;
}

.card__btn1 {
    width: 150px;
    height: 40px;
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
    margin-right: 15px;
}

.card__btn2 {
    width: 150px;
    height: 40px;
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
}

.card__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.card__item {
    @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        margin: 15px;
        flex-basis: calc((100% - 90px) / 3);
    }
    
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}